appdirs==1.4.4
asgiref==3.3.4
boto3==1.17.58
botocore==1.20.58
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
defusedxml==0.7.1
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.2
django-storages==1.11.1
django-toolbelt==0.0.1
django-widget-tweaks==1.4.8
filelock==3.0.12
gunicorn==18.0
idna==2.10
install==1.3.4
jmespath==0.10.0
oauthlib==3.1.0
Pillow==8.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
PyJWT==2.1.0
python-dateutil==2.8.1
python-decouple==3.4
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
s3transfer==0.4.2
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
static3==0.7.0
stripe==2.56.0
urllib3==1.26.4
virtualenv==20.4.4
whitenoise==5.2.0
