{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-sm-8 col-4">
            <form method="POST" style="margin-left: 1cm; margin-top: 3.5cm;">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <p style="margin-bottom: 0.5cm;">
                        {{ field.label_tag }}<br>
                        {% render_field field style="border:1px solid gray;" %}
                        
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="submit-btn" type="submit" style="border-bottom: 1px solid gray; margin-top: 0.25cm;"> Sign up </button>
                <br><br>
                <p>
                    Signup using <a href="{% url 'social:begin' 'github' %}" style="border-bottom: 1px solid gray;">Github</a><br> 
                    Already have an account? <a href="{% url 'login'%}" style="border-bottom: 1px solid gray;">Log in</a>
                </p>
            </form>
        </div>
        <div class="col-4"> </div>
    </div>
</div>
{% endblock content %}