{% load static %}

<!DOCTYPE html>
<html lang="en" data-temp="grid">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Buy and Sell NFTs</title>
    <meta content="Buy and Sell NFTs" name="description">  
    <link href="{% static 'css/main.minb9d8.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
</head>
<body>
    <header class="header">
        <p style="text-align:left;">
            328 <span class="site-tagline">— buy and sell NFTs </span>
            <span style="float:right;">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">@{{user.username}}</a> / upload
                {% else %}
                    <a href="{% url 'login' %}">Sign in</a>
                {% endif %}
            </span>
        </p>
    </header>  

    {% block content %}
    {% endblock content %}

</body>
</html>

