{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="main grid-page">
        <div class="posts">
            <!-- Iterating over our db-->
            <article class="thumbnail">
                <a href="" class="thumbnail-figure-link" target="_blank" rel="noreferrer">
                    <figure class="thumbnail-img-container">
                        <img class="thumbnail-img" loading="lazy" src="{{nft.image.url}}" alt="{{nft.title}}">
                    </figure>
                </a>
            </article> 
        
        </div>
        <script src="{% static 'js/infinite.min.js' %}"></script>            
    </main>
{% endblock content %}