{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col"> </div>
    
        <div class="col-sm-8 col-9">
            <header class="primary-section-header">
                <h1 class="section-title"></h1>
            </header>

            <p>You transaction was declined.</p><br>
            <p>
                Browse <a href="{% url 'home' %}" style="border-bottom: 1px solid gray;">328</a>.
            </p>

        </div>
        
    </div>
</div>
{% endblock content %}