{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header class="header-2">
        <p style="text-align:left;">
            <form style="text-align:right;" action="{% url 'search_results' %}" method="get">
                <span class="site-tagline">sort by</span>
                <!-- <input type="button" style="padding:0%; border-bottom: 1px solid gray;" name="new" value="new">
                <input type="button" style="padding:0%; border-bottom: 1px solid gray;" name="title" value="title"> -->
                / <input size="8" name="q" type="text" placeholder="search">
            </form> 
        </p>
    </header>

    <main class="main grid-page">
        <div class="posts">
            {% for nft in object_list %}
            <article class="thumbnail">
                <a href="{% url 'buy' id=nft.id %}" class="thumbnail-figure-link" rel="noreferrer">
                    <figure class="thumbnail-img-container">
                        <img class="thumbnail-img" loading="lazy" src="{{nft.image.url}}" alt="{{nft.title}}">
                    </figure>
                </a>
            </article> 
            {% endfor %}           
        </div>
        <script src="{% static 'js/infinite.min.js' %}"></script>            
    </main>
{% endblock content %}