{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Placeholder -->
        <div class="col-4"> </div>
    
         <!-- Success -->
        <div class="col-sm-8 col-4">
            <p>You payment was successful.</p><br> 
            <p>
                Want to buy more? Browse <a href="{% url 'home' %}" style="border-bottom: 1px solid gray;">328</a>.
            </p>
        </div>

        <!-- Placeholder -->
        <div class="col-4"> </div>
    </div>
</div>
{% endblock content %}