{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col"> </div>
    
        <div class="col-sm-8 col-9">
            <header class="primary-section-header">
                <h1 class="section-title"></h1>
            </header>

            <form method="post" enctype="multipart/form-data" ">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                        <p>
                            {{ field.label_tag }}
                            {% render_field field style="border: 1px solid gray;" %}

                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p><br>
                    {% endfor %}
                <br>
                <button type="submit" style="border:none; 
                border-bottom: 1px solid gray;"> Upload </button>
            </form>

        </div>
        
    </div>
</div>
{% endblock content %}